---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body class='container mx-auto bg-gray-800'>
        <header class='block p-4 mb-4 sticky top-0 z-10 backdrop-filter backdrop-blur-lg'>
            <ul class='flex justify-evenly px-4 items-center text-lg font-medium text-white'>
                <li>
                    <a href='/'>🦀 ismi-abbas.com</a>
                </li>
                <li>
                    <a href='/'>Home</a>
                </li>
                <li><a href='/'>Career</a></li>
                <li><a href='/blog'>Blog</a></li>
                <li><a href='/uses'>Uses</a></li>
            </ul>
        </header>
        <main class='flex flex-col items-center justify-center px-48'>
            <section class='w-full text-slate-300'>
                <ul>
                    {
                        posts.map((post) => (
                            <li class='flex border border-slate-500 flex-col gap-2 rounded-md bg-white/20 mt-4 p-4'>
                                <a href={`/blog/${post.slug}/`} class='text-white'>
                                    {post.data.title}
                                </a>
                                <FormattedDate date={post.data.pubDate} />
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
    </body>
</html>
