---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Default from '../components/Default.astro';
import ImageSlider from '../components/motions/ImageSlider';

const imageUrls = '/jom_launch.jpeg';

const biography = [
  {
    date: 'July, 1998',
    description: 'Born in the picturesque town of Gerik.',
  },
  {
    date: 'April, 2021',
    description: "Successfully completed my Bachelor's in Islamic Studies.",
  },
  {
    date: 'May, 2021',
    description: 'Self learning software development journey begins.',
  },
  {
    date: 'Jan, 2022',
    description: 'Embarked on my journey in the IT industry with Maybank.',
  },
  {
    date: 'April, 2023',
    description:
      'Embraced a new opportunity at Petronas Digital, collaborating with FPT Software Malaysia as the vendor.',
  },
  {
    date: 'Jan, 2024',
    description: 'Transitioned into the dynamic world of frontend development at CTOS Credit System.',
  },
];
---

<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Default>
    <div class='w-full px-10 flex gap-2'>
      <ImageSlider client:load url={imageUrls} alt='website-picture' />
    </div>

    <div class='w-full max-w-lg'>
      <div
        class='bg-slate-700 mt-8 text-center p-2 w-full rounded-md text-lg font-medium backdrop-blur-lg backdrop-filter text-slate-200'>
        <h3>Hello, I'm a Fullstack Developer based in Malaysia!</h3>
      </div>
    </div>

    <div class='mt-8 w-full text-white'>
      <h1 class='text-4xl font-semibold'>Abbas Puzi</h1>
      <h3 class='text-lg'>Digital <span class='bg-sky-800 px-1'>Craftman</span></h3>
    </div>

    <section class='w-full text-white mt-4'>
      <h1 class='underline underline-offset-4 decoration-2 decoration-slate-600 font-medium text-lg'>Bio</h1>
      <div class='leading-relaxed tracking-wide mt-4 space-y-3 font-thin text-pretty'>
        <p>
          👋 Greetings! I'm Abbas, a passionate software developer hailing from the vibrant tech scene of Malaysia. My
          expertise lies in crafting exceptional web experiences using cutting-edge technologies.
        </p>
        <p>
          💻 My tech stack includes:
          <ul class='list-disc list-inside ml-4 mt-2 space-y-1'>
            <li>Node.js for robust back-end development</li>
            <li>JavaScript and TypeScript for versatile programming</li>
            <li>React and Next.js for building dynamic front-end applications</li>
            <li>Tailwind CSS for creating sleek, responsive designs</li>
          </ul>
        </p>
        <p>
          🚀 As a developer, I thrive on transforming innovative ideas into functional, user-centric solutions. My
          portfolio showcases a diverse range of projects that demonstrate my technical prowess and creative
          problem-solving skills.
        </p>
        <p>Ready to bring your vision to life? Let's collaborate and create something extraordinary together!</p>
      </div>

      <section class='w-full text-white mt-4'>
        <h1 class='underline underline-offset-4 decoration-2 decoration-slate-600 font-medium text-lg'>Life journey</h1>
        <div class='flex flex-col font-light mt-2 space-y-1'>
          {
            biography.map((entry) => (
              <div class='flex items-start'>
                <div class='w-24'>{entry.date}</div>
                <div class='flex flex-1 text-pretty'>{entry.description}</div>
              </div>
            ))
          }
        </div>
      </section>
    </section>
  </Default>
</html>
