---
const { title, description, app_link, github_link, image } = Astro.props;
import { motion } from 'framer-motion';
---

<motion.div
    className='mt-2 h-auto hover:cursor-pointer hover:ring-1 hover:ring-sky-700 p-2 border border-slate-600/80'
    initial={{ opacity: 0, y: 50 }}
    animate={{ opacity: 1, y: 0 }}
    transition={{ duration: 2, type: 'spring', stiffness: 300 }}
    whileHover={{ scale: 1.03 }}
    client:load>
    <div class='flex-1 flex flex-col justify-between p-2'>
        <img src={image} alt='logo' loading='lazy' class='h-56 object-contain bg-white' />
        <div class='flex-col mt-8'>
            <h1 class='text-white'>{title}</h1>
            <h3 class='text-white text-sm leading-tight'>{description}</h3>

            <div class='mt-2 flex flex-col'>
                <a href={app_link} target='_blank' class='underline underline-offset-2 text-sky-500 text-sm'>Site</a>
                <a href={github_link} target='_blank' class='underline underline-offset-2 text-sky-500 text-sm'
                    >Github</a
                >
            </div>
        </div>
    </div>
</motion.div>
